version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: audits-services-app
    environment:
      RAILS_ENV: development
      MONGODB_URI: "mongodb://admin:secretpassword@mongo:27017/audit_service?authSource=admin"
    volumes:
      - .:/app
    ports:
      - "3001:3001"
    depends_on:
      - mongo
    tty: true

  mongo:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: secretpassword
      MONGO_INITDB_DATABASE: audit_service
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data:
